<div class="counter">
  <p role="status">Current count: @Count</p>
  <button 
    hx-post="htmx/counter"
    hx-target="closest .counter"
    hx-swap="outerHTML"
    class="btn btn-primary">
    Click me
  </button>
</div>

@code {

  [Parameter, EditorRequired]
  public int Count { get; set; }

}
