<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="color-scheme" content="light dark">
  <base href="/"/>
  <link rel="stylesheet" href="css/pico.violet.css">
  <link rel="stylesheet" href="app.css"/>
  <link rel="stylesheet" href="StaticWebApp.styles.css"/>
  
  <script defer src="_framework/blazor.web.js"></script>
  
  <!-- HTMX Blazor -->
  <script defer src="https://unpkg.com/htmx.org@2.0.3"></script>
  <script defer src="js/htmx-blazor.js"></script>
  
  <!-- Minimal theme switcher -->
  <script defer src="js/minimal-theme-switcher.js"></script>

  <!-- Modal -->
  <script defer src="js/modal.js"></script>
  <HeadOutlet/>
</head>

<body>
<Routes/>
</body>

</html>