<!-- Header -->
<header class="container">
  <hgroup>
    <h1>HTMX <span>❤️</span> Blazor</h1>
    <p>A demo app using HTMX, Blazor and Pico.css</p>
  </hgroup>
  <nav>
    <ul>
      <li>
        <details class="dropdown">
          <summary role="button" class="secondary">Theme</summary>
          <ul>
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
<!-- ./ Header -->

@code {
  
}